<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>กร๊วก</title>
  <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-app-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-firestore-compat.js"></script>
  <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/vuetify@3.4.10/dist/vuetify.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <script src="https://www.gstatic.com/firebasejs/10.8.0/firebase-auth-compat.js"></script>
  <!-- Include Vuetify CSS -->
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.6.0/dist/vuetify.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <style>
    body {
      background-color: #ffffff;
      /* สีพื้นหลังของเว็บ */
      background-image: url('background-image.jpg');
      /* รูปภาพพื้นหลัง */
      background-size: cover;
      /* ปรับขนาดรูปภาพให้เต็มขนาดพื้นที่ */
      background-position: center;
      /* จัดตำแหน่งของรูปภาพ */
    }


    #app {
      margin-top: 50px;
      /* ช่องว่างด้านบน */
    }

    .login-button {
      background-color: #5d5ff5;
      /* สีของปุ่มล็อกอิน */
      color: white;
    }

    .login-button:hover {
      background-color: #53c0f7;
      /* เมื่อเม้าส์วางที่ปุ่มล็อกอิน */
    }

    .wallpaper-register {
      background: url(https://images.pexels.com/photos/533671/pexels-photo-533671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260) no-repeat center center;
      background-size: cover;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: -1;
    }
  </style>

</head>

<body>
  <div id="app">
    <v-app>
      <v-container>
        <v-card>
          
          <v-card-title class="bg-blue-grey text-center">{{title}}</v-card-title>
          <v-card-actions>
            <template v-if="user">
              
              <div class="pa-2">
                <v-avatar><img :src="user.photoURL" /></v-avatar>
              </div>
              <div class="pa-2">
                {{user.displayName}}<br />
                {{user.email}}<br />
              </div>
            </template>

          </v-card-actions>

          <v-card-actions>
          </v-card-actions>

          <v-card-actions class="justify-center">
            <v-btn @click="google_login()" v-if="!user" class="login-button">Login</v-btn>

            <div v-if="user">
              <v-btn @click="google_logout()" v-if="user" class="login-button"> Logout</v-btn>
              <div v-for="(s) in students">
                <v-btn v-if="user.email == s.email"><a href="students_home.html">Next for students</a></v-btn>
              </div>
              <div v-for="(t) in teachers">
                <v-btn v-if="user.email == t.email"><a href="teachers_home.html">Next for Teachers</a></v-btn>
              </div>
            </div>
          </v-card-actions>
        </v-card>

        <v-card v-if="editmode">
          <v-card-text class="pa-6">
            <v-card-title class="bg-blue-grey text-center">{{editmode}}</v-card-title>
            <v-text-field v-model="editstd.id" label="รหัส"></v-text-field>
            <v-combobox v-model="editstd.title" label="คำนำหน้า"
              :items="['นาย','นางสาว','ด.ช.','ด.ญ','นาง']"></v-combobox>
            <v-text-field v-model="editstd.fname" label="ชื่อ"></v-text-field>
            <v-text-field v-model="editstd.lname" label="นามสกุล"></v-text-field>
            <v-text-field v-model="editstd.email" label="E-mail"></v-text-field>
            <v-text-field v-model="editstd.section" label="Section"></v-text-field>
          </v-card-text>
          <v-card-actions class="justify-center">
            <v-btn @click="savedata()">Save</v-btn>
            <v-btn @click="editmode=0">Cancel</v-btn>
          </v-card-actions>
        </v-card>

        <div class="pa-6 text-center">{{footer}}</div>
      </v-container>
    </v-app>
  </div>

  <script>
    const vuetify = Vuetify.createVuetify();
    const firebaseConfig = {
      apiKey: "AIzaSyCQ9rOdc4xkoJHstUrsT93Lp-qgaVmnWTo",
      authDomain: "project-web-appication.firebaseapp.com",
      databaseURL: "https://project-web-appication-default-rtdb.asia-southeast1.firebasedatabase.app",
      projectId: "project-web-appication",
      storageBucket: "project-web-appication.appspot.com",
      messagingSenderId: "711214714623",
      appId: "1:711214714623:web:3124bd07c87f0dad3906ca",
      measurementId: "G-YNC1XE9CQP"
    };
    firebase.initializeApp(firebaseConfig);
    const db = firebase.firestore();

    const app = Vue.createApp({
      data() {
        return {
          title: "Project:  เช็คชื่อจากฐานข้อมูล",
          footer: "2024 College Of Computing By กร๊วก",
          students: [],
          editstd: {},
          editmode: 0,
          teachers: [],
          user: null,
          ustudent: null,
        };
      },


      mounted() {
        firebase.auth().onAuthStateChanged((user) => {
          if (user) {
            this.user = user.toJSON();
          } else {
            this.user = null;
          }
        });
        db.collection("teachers").get()
          .then((querySnapshot) => {
            var teacherslist = [];
            querySnapshot.forEach((doc) => {
              teacherslist.push({ email: doc.email, ...doc.data() });
            });
            this.teachers = teacherslist;
          });
        db.collection("students")
          .get()
          .then((querySnapshot) => {
            var stdlist = [];
            querySnapshot.forEach((doc) => {
              stdlist.push({ id: doc.id, ...doc.data() });
            });
            this.students = stdlist;
          });

      },



      methods: {


        autoRead() {
          db.collection("students").onSnapshot((querySnapshot) => {
            var stdlist = [];
            querySnapshot.forEach((doc) => {
              stdlist.push({ id: doc.id, ...doc.data() });
            });
            this.students = stdlist;
          });
        },
        addData() {
          this.editmode = "เพิ่มนักเรียน";
          this.editstd = {};
        },
        edit(std) {
          this.editstd = std;
          this.editmode = "edit";
        },
        savedata() {
          db.collection("students").doc(this.editstd.id).set(this.editstd);
          location.reload();
        },
        deleteData(std) {
          if (confirm("ต้องการลบข้อมูล")) {
            db.collection("students").doc(std.id).delete();
          }
        },
        google_login() {
          // Using a popup.
          var provider = new firebase.auth.GoogleAuthProvider();
          provider.addScope("profile");
          provider.addScope("email");
          firebase.auth().signInWithPopup(provider);
        },
        google_logout() {
          if (confirm("Are you sure?")) {
            firebase.auth().signOut();
            location.reload();
          }
        },
        getstudent(email) {
          db.collection("students")
            .where("email", "==", email)
            .limit(1)
            .get()
            .then(
              (querySnapshot) => {
                querySnapshot.forEach((doc) => {
                  this.ustudent = { id: doc.id, ...doc.data() };
                });
              }
            );
        },




      },
    });


    app.use(vuetify).mount("#app");
  </script>
</body>

</html>